.Book {
  display: flex;
  flex-direction: column;
  max-width: 220px;
  width: 100%;
  background-color: transparent;
  position: relative;
  margin-bottom: 30px;
  /* padding: 0.5em; */
}

.cardImage {
  max-width: 100%;
  display: block;
  margin: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.text {
  padding: 17px;
}

.titleText {
  font-size: 1.4em;
  font-weight: 500;
  margin-bottom: -5px;
}

.descText {
  font-size: 0.9em;
  font-weight: 300;
  
}

.authorText {
  font-size: 0.77em;
  font-weight: 500;
  margin-bottom: -5px;
  color: orangered;
}

.Book::before {
  content: "";
  height: inherit;
  width: 100%;
  position: absolute;
  height: 100%;
  z-index: -1;
  transition: transform 0.6s cubic-bezier(0.34, 1.56, 0.64, 1);
  display: block;
  background-color: var(--c-background-1);
  will-change: transform;
  transform: scale(1);
  border-radius: 10px;
  box-shadow: 0px 0px 35px rgba(140, 152, 164, 0.18);
}

.card:hover::before {
  transform: scale(1.03);
}
