.GeneralPage {
  display: flex;
  justify-content: space-between;
  position: relative;
  max-width: 100%;
}

.GeneralRow {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 1.2rem;
}

.GeneralRow > div {
  width: 100%;
}

.div {
  position: relative;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 2.2em;
  padding-bottom: 20px;
}

.right {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.titleHeader {
  font-family: "Poppins", sans-serif;
  font-size: 3em;
  font-weight: 500;
  letter-spacing: 0.04ch;
  line-height: 50px;
  padding-bottom: 15px;
}

.headercontent {
  font-family: "Poppins", sans-serif;
  height: 43px;
  width: fit-content;
  background-color: var(--color-contrastBackgroundLight);
  border-radius: 5px;
  padding: 20px;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  font-size: 17px;
  color: var(--color-contrast);
  margin-bottom: 30px;
}

.headercontentDark {
  background-color: var(--color-contrastBackgroundDark);
  color: var(--color-contrast);
}

.pathAndFilter {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

/* Testtttttttttttttt */
.label {
  display: flex;
  flex-direction: column;
}

.selectFilter {
  width: fit-content;
  height: 43px;
  border-radius: 5px;
  box-shadow: none !important;
  border: none !important;
  outline: none !important;
  transition: all 0.3s ease-in-out;
  /* font-size: 17px; */
  /* padding: 5px 15px; */
  background-color: var(--color-contrastBackgroundLight);
  color: var(--color-contrast);
  cursor: pointer;
}

.selectFilterDark {
  background-color: var(--color-contrastBackgroundDark);
  color: var(--color-contrast);
}

.filterAndSearchDiv {
  display: flex;
  gap: 30px;
  align-items: flex-start;
  /* background-color: rgb(124, 79, 20); */
}

.formDiv {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -0%);
  transition: all 1s;
  width: 43px;
  height: 43px;
  background: var(--color-contrastBackgroundLight);
  box-sizing: border-box;
  border-radius: 25px;
  border: 0px solid black;
  padding: 5px;
}

.formDivDark {
  background: var(--color-contrastBackgroundDark);
}

.inputText {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 43px;
  line-height: 30px;
  outline: 0;
  border: 0;
  display: none;
  font-size: 1em;
  border-radius: 20px;
  padding: 0 20px;
  background-color: var(--color-contrastBackgroundLight);
  color: var(--color-contrast);
}

.inputTextDark {
  background-color: var(--color-contrastBackgroundDark);
}

.fa {
  box-sizing: border-box;
  padding: 10px;
  width: 42.5px;
  height: 42.5px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  background: var(--color-contrastBackgroundLight);
  text-align: center;
  font-size: 1.2em;
  transition: all 1s;
}

.faDark {
  background: var(--color-contrastBackgroundDark);
}


.formDiv:hover,
.formDiv:valid {
  width: 200px;
  cursor: pointer;
}

.formDiv:hover .inputText,
.formDiv:valid .inputText {
  display: block;
}


.formDiv:hover .fa,
.formDiv:valid .fa {
  background: var(--color-contrastBackgroundLight);
}

.formDivDark:hover .faDark,
.formDivDark:valid .faDark {
  background: var(--color-contrastBackgroundDark);
}


@media (max-width: 600px) {
  .headercontent {
    font-size: 14px;
  }
}

@media (max-width: 380px) {
  .headercontent {
    font-size: 12px;
  }
}

@media (max-width: 300px) {
  .headercontent {
    font-size: 10px;
  }

  .GeneralRow {
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fill, minmax(135px, 1fr));
    /* grid-gap: 0.8rem; */
  }
}

@media screen and (max-width: 458px) {
  .GeneralRow {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(135px, 1fr));
    grid-gap: 0.8rem;
  }
}
