/* style for home screen  */
.Homescreen {
  padding: 2.5em 0;
  width: 90%;
  max-width: 980px;
  height: auto;
  margin: auto;
  text-align: center;
}

/* style for showmore button */
.showmoreButton {
  margin: 0 auto;
  color: #ff590b;
  cursor: pointer;
}

/* hover effect */
.showmoreButton:hover {
  color: black;
}
