/* style for home screen  */
.Homescreen {
  padding: 2.5em 0;
  width: 90%;
  max-width: 980px;
  height: auto;
  margin: auto;
  text-align: center;
}

/* style for showmore button */
.showmoreButton {
  margin: 0 auto;
  color: #ff590b;
  cursor: pointer;
}

/* hover effect */
.showmoreButton:hover {
  color: black;
}

.container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;  
  height: 300px;
  word-break: break-all;
  border: 0px solid rgba(0, 0, 0, 0.274);
  border-radius: 15px;
}

.bloctabs {
  display: flex;
  border-radius: 30px;
  position: relative;
  width: 50%;
  align-items: center;
  align-self: center;
  background-color: white;
  transition : scale3d(1,1,1); 
  /* box-shadow: rgba(170, 170, 170, 0.1) 0px 8px 24px; */
  height: 60px;
}
.tabs {
  margin: 15px;
  padding: 9px;
  text-align: center;
  width: 50%;
  background: white;
  cursor: pointer;
  border-radius: 25px;
  box-sizing: content-box;
  position: relative;
  outline: none;
  transition : all .2s ease-in-out;  
}
.tabs:not(:last-child){
  /* border-right: 1px solid rgba(0, 0, 0, 0.274); */
}

.activetabs  {
  border-radius: 25px;
  background: #ffeee4;
  transform: translateX(0);
  transition : all .2s ease-in;
  color: #ff590b;  /* border-bottom: 1px solid transparent; */
}

.activetabs::before {
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% + 2px);
  height: 5px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all .2s ease-in;
}

.contenttabs {
  flex-grow : 1;
}
.content {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: white;
  padding: 20px;
  width: 100%;
  height: 100%;
  display: none;
}
.activecontent {
  display: flex;
  flex-direction: column;
}