.Category {
  display: flex;
  flex-direction: column;
  width: 320px;
  /* max-width: 500px; */
  /* background-color: red; */
  position: relative;
}

.details {
  padding: 20px;
}

.type {
  font-size: 14px;
  color: orangered;
}

.typeText {
  font-size: 20px;
}

.cardbutton {
  background-color: #ff590b;
  border: none;
  border-radius: 5px;
  padding: 15px 25px;
  margin: 1em 0;
  font-size: 16px;
  cursor: pointer;
  letter-spacing: 1px;
  color: white;
  margin-top: 10px;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 6px 18px -5px rgb(237, 133, 85);
}

.Category::before {
  content: "";
  height: inherit;
  width: 100%;
  position: absolute;
  height: 100%;
  z-index: -1;
  transition: transform 0.6s cubic-bezier(0.34, 1.56, 0.64, 1);
  display: block;
  will-change: transform;
  transform: scale(1);
  border-radius: 10px;
  box-shadow: 0px 0px 35px rgba(140, 152, 164, 0.18);
}

.card:hover::before {
  transform: scale(1.03);
}

@media screen and (min-width: 500px) {
  .cardbutton:hover {
    transform: scale(1.1);
    box-shadow: 0px 17px 20px -6px rgba(36, 52, 70, 0.36);
  }
}

@media screen and (max-width: 700px) {
  .cardbutton:active {
    position: relative;
    bottom: auto;
    right: auto;
    margin-top: 20px;
    transform: scale(1.1);
    box-shadow: 0px 17px 20px -6px rgba(36, 52, 70, 0.36);
  }
}
