.contentHead{

  margin-left: -45px;
}
  

.fonts {
  font-family: 'Poppins', sans-serif;;
    line-height: 1.6;
    color: #333;
    font-size: 1.1rem;
  }

  /* .aboutText{
    color: black;
    background-color: #555;
    tex
  } */
  
  h1,
  h2,
  h3,
  h4 {
    line-height: 1.3;
  }
  
  a {
    color: #444;
    text-decoration: none;
  }
  
  ul {
    list-style: none;
  }
  
  .img {
    width: 110%;
    height: 55%;
    margin-left: 25px;
  }
  
  .container {
    max-width: 1100px;
    margin: auto;
    overflow: hidden;
    padding: 0 2rem;
  }
  
  .navbar {
    font-size: 1.2rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
  }
  
  .navbar .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
  }
  
  .navbar .logo {
    font-size: 2rem;
  }
  
  .navbar ul {
    justify-self: flex-end;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .navbar a {
    padding: 0 1rem;
  }
  
  .navbar a:hover {
    color: #555;
  }
  
  .section-a {
    margin: 2rem 0;
  }
  
  .section-a .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3rem;
    align-items: center;
    justify-content: center;
  }
  
  .section-a h1 {
    font-size: 4rem;
    color: var(--primary-color);
  }
  
  .section-a p {
    margin: 1rem 0;
    font-size: 21px;
    text-align: justify;
  }
  
  
  
@media (max-width: 600px) {
  .navbar .container {
    display: flex;
    flex-direction: column;
    grid-template-columns:0 ;
    grid-gap: 0;
  }
}
